*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(130deg, rgb(14, 29, 185), rgb(150, 151, 160));
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
    padding-top: 30px;
    font-size: 3em;
    color: #fefefe;
}

#container{
    background-color: #eceef2;
    width: 500px;
    height: 600px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    margin-top: 30px;
}

#input{
    text-align: center;
    margin-top: 10px;
    padding: 30px;
}

#inputbox{
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    font-size: large;
}

#btn{
    padding: 10px;
    border: 1px solid black;
    background-color: blue;
    color: #eceef2;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: large;
    cursor: pointer;
}

#tempcontainer{
    width: 400px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#imgsrc{
    width: 300px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    background: none;
    border-radius: 20px;
}

#cityName{
    text-align: center;
    font-size: large;
    margin-top: 60px;
    color: black;
    position: absolute;
    top: 300px;
    bottom: 200px;
    left: 235px;
    font-size: 1.5em;
}

#tempp{
    text-align: center;
    font-size: large;
    margin-top: 50px;
    color: black;
    position: absolute;
    top: 340px;
    bottom: 200px;
    left: 170px;
    font-size: 1.5em;
    font-weight: 700;
}

#humidity{
    display: flex;
    position: absolute;
    left: 20px;
    bottom: 40px;
}

#humimg{
    width: 80px;
    height: 80px;
    border-radius: 30%;
}

#texttag{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 100px;
    top: 20px;
    line-height: 25px;
}

p{
    font-size: large;
    font-weight: bold;
}

#wind{
    display: flex;
    position: absolute;
    right: 130px;
    bottom: 40px;
}

.error{
    color: red;
    margin-top: 10px;
    font-size: medium;
    display: none;
}
